<% include("./partials/header") %>
<form action="/cluck" method="POST">
    <h2>Content</h2>
    <div>
        <textarea name="content" type="text"></textarea>
    </div>
    <h2>Image Url</h2>
    <div>
        <input name="image_url" type="text">
    </div>
    <input type="submit" value="Cluck!">
</form>
<% include("./partials/footer") %>