.hangman {
    width: 500px;
    height: 612px;
    align-items: center;
}
/* #input_slot {
    /* margin-top: -40; 
    padding: 0;
    font-size: 2.5em;
  } */
#letter {
  font-size: 3.2em;
}
.letter_buttons {
  margin-bottom: 45;
}
#hangman-0 {background-image: url(./images/gallows.jpg); }
#hangman-1 {background-image: url(./images/gallows+head.jpg); }
#hangman-2 {background-image: url(./images/gallows+head+torso.jpg); }
#hangman-3 {background-image: url(./images/gallows+head+torso+leg.jpg); }
#hangman-4 {background-image: url(./images/gallows+head+torso+2leg.jpg); }
#hangman-5 {background-image: url(./images/gallows+head+torso+2leg+arm.jpg); }
#hangman-6 {background-image: url(./images/gallows+head+torso+2leg+2arm.jpg); }
